<% provide(:title, "Home") %>
<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <%= javascript_pack_tag 'map' %>
<% end %>

<div id="map">
</div>

<div class="d-flex">
  <div class="flex-fill">
    <%= link_to "My list", "#", class: 'btn btn-outline-primary btn-lg btn-block toggle-panel', id: 'my-panel' %>
  </div>
  <div class="flex-fill">
    <%= link_to "All friends", "#", class: 'btn btn-outline-primary btn-lg btn-block toggle-panel', id: 'filter-panel' %>
  </div>
</div>

<div class="container my-3 overflow-auto main-panel" style="height: 35vh;">
  <% current_user.restaurants.each do |resto| %>
    <%= render "restaurants/restaurant_card", resto: resto %>
  <% end %>
</div>

<div class="container my-3 main-panel" style="display: none;">
  <h3>Restaurant</h3>
  <p>Show results based on:</p>
  <hr>
  <div class="form-check">
    <input class="form-check-input user-filter" type="checkbox" value="true" id="user-list" checked>
    <label class="form-check-label" for="user-list">
      My List
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input restaurant-filter" type="checkbox" value="1" id="first-degree">
    <label class="form-check-label" for="first-degree">
      1st Degree Connections
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input restaurant-filter" type="checkbox" value="2" id="second-degree">
    <label class="form-check-label" for="second-degree">
      2nd Degree Connections
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input restaurant-filter" type="checkbox" value="3" id="third-degree">
    <label class="form-check-label" for="third-degree">
      3rd Degree Connections
    </label>
  </div>
</div>

<div class="d-flex fixed-bottom">
  <div class="flex-fill">
    <%= link_to "Add a restaurant", restaurants_path, class: 'btn btn-outline-primary btn-lg btn-block' %>
  </div>
  <div class="flex-fill">
    <%= link_to "Share my list", "#", class: 'btn btn-outline-primary btn-lg btn-block' %>
  </div>
</div>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_API_KEY"]}", defer: true %>
