<%= form_for restaurant, url: {action: "create"}, method: :post, remote: true do |f| %>
  <%= hidden_field_tag("restaurant[name]", "#{restaurant.name}") %>
  <%= hidden_field_tag("restaurant[address]", "#{restaurant.address}") %>
  <%= hidden_field_tag("restaurant[phone_number]", "#{restaurant.phone_number}") %>
  <%= hidden_field_tag("restaurant[latitude]", "#{restaurant.latitude}") %>
  <%= hidden_field_tag("restaurant[longitude]", "#{restaurant.longitude}") %>
  <%= hidden_field_tag("restaurant[website]", "#{restaurant.website}") %>
  <%= hidden_field_tag("restaurant[place_id]", "#{restaurant.place_id}") %>
  <%= hidden_field_tag("restaurant[photos]", "#{restaurant.photos}") %>
  <%= hidden_field_tag("restaurant[price_level]", "#{restaurant.price_level}") %>
  <%= hidden_field_tag("restaurant[opening_hours]", "#{restaurant.opening_hours.join("<")}") %>

  <%= button_tag do %>
    <span style="font-size: 25px; font-weight: bold; margin-right: 10px">+</span> Add to your list
  <% end %>
<% end  %>
