<% if link %>
  <a class="mx-2 restaurant-card-link" href="/restaurants/<%= resto.place_id %>">
<% end %>
  <div class="card-product <%= 'my-4' unless link %>" >
    <img src="<%= resto.photos.first %>">
    <div class="card-product-infos">
      <h2><%= resto.name %></h2>
      <p class="my-0"><%= resto.address.split(",")[0..1].join(", ") %></p>
      <div class="d-flex">
        <p class="my-0"><%= resto.display_price_level %></p>
        <p class="my-0">| <%= resto.open_now? ? "OPEN" : "CLOSE" %></p>
      </div>
    </div>
  </div>
<% if link %>
  </a>
<% end %>
