
<% if link %>
  <a class="mx-2 restaurant-card-link" href="/restaurants/<%= resto.place_id %>">
<% end %>
  <div class="card-product <%= 'my-4' unless link %>" >
    <img src="<%= resto.photos.first %>">
    <div class="card-product-infos">
      <h2><%= resto.name %></h2>
      <p><%= resto.price_level %></p>
      <p><%= resto.address %></p>
      <p><%= resto.open_now? ? "OPEN" : "CLOSED" %></p>
    </div>
  </div>
<% if link %>
  </a>
<% end %>
