      <%= link_to restaurant_path(resto.place_id) do%>
        <div class="card-product my-2 <%= 'my-4' unless link %>" >
          <img src="<%= resto.photos.first %>">
          <div class="card-product-infos">
            <h2><%= resto.name %></h2>
            <p class="my-0"><%= resto.address.split(",")[0..1].join(", ") %></p>
            <p class="my-0 mr-1"><%= resto.open_now? ? "OPEN" : "CLOSE" %> | <%= resto.display_price_level %></p>
          </div>
        </div>
    <% end %>
