<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <%= render "photo_carousel", photos: @restaurant.photos %>
      </div>
      <ul>
        <li><%= @restaurant.name %></li>
        <li><%= @restaurant.address %></li>
        <li><%= @restaurant.phone_number %></li>
        <li><%= @restaurant.latitude %></li>
        <li><%= @restaurant.longitude %></li>
        <li><%= @restaurant.price_level %></li>
        <li><%= @restaurant.website %></li>
      </ul>
    </div>
  </div>
</div>


<a onclick="history.back()"><i class="fas fa-caret-left"></i>Bckkkk</a>


<%= form_for @restaurant, url: {action: "create"}, method: :post do |f| %>
  <%= hidden_field_tag("restaurant[name]", "#{@restaurant.name}") %>
  <%= hidden_field_tag("restaurant[address]", "#{@restaurant.address}") %>
  <%= hidden_field_tag("restaurant[phone_number]", "#{@restaurant.phone_number}") %>
  <%= hidden_field_tag("restaurant[latitude]", "#{@restaurant.latitude}") %>
  <%= hidden_field_tag("restaurant[longitude]", "#{@restaurant.longitude}") %>
  <%= hidden_field_tag("restaurant[website]", "#{@restaurant.website}") %>
  <%= hidden_field_tag("restaurant[price_level]", "#{@restaurant.price_level}") %>
  <%= f.submit "CreateRestaurant" %>
<% end  %>
