<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <%= render "photo_carousel", photos: @restaurant.photos %>
      </div>
      <ul>
        <li><%= @restaurant.name %></li>
        <li><%= @restaurant.address %></li>
        <li><%= @restaurant.phone_number %></li>
        <li><%= @restaurant.latitude %></li>
        <li><%= @restaurant.longitude %></li>
        <li><%= @restaurant.price_level %></li>
        <li><%= @restaurant.website %></li>
        <% if @restaurant.open_now? %>
          <p>OPEN</p>
        <% else %>
          <p>CLOSE</p>
        <% end  %>
        <li>Opening Hours</li>
          <ul>
            <% @restaurant.opening_hours.each do |daytime| %>
              <li><%= daytime %></li>
            <% end %>
          </ul>
      </ul>
    </div>
  </div>
</div>


<a onclick="history.back()"><i class="fas fa-caret-left"></i>Bckkkk</a>


<%= form_for @restaurant, url: {action: "create"}, method: :post do |f| %>
  <%= hidden_field_tag("restaurant[name]", "#{@restaurant.name}") %>
  <%= hidden_field_tag("restaurant[address]", "#{@restaurant.address}") %>
  <%= hidden_field_tag("restaurant[phone_number]", "#{@restaurant.phone_number}") %>
  <%= hidden_field_tag("restaurant[latitude]", "#{@restaurant.latitude}") %>
  <%= hidden_field_tag("restaurant[longitude]", "#{@restaurant.longitude}") %>
  <%= hidden_field_tag("restaurant[website]", "#{@restaurant.website}") %>
  <%= hidden_field_tag("restaurant[place_id]", "#{@restaurant.place_id}") %>
  <%= hidden_field_tag("restaurant[photos]", "#{@restaurant.photos}") %>
  <%= hidden_field_tag("restaurant[opening_hours]", "#{@restaurant.opening_hours.join("<")}") %>
  <%= f.submit "CreateRestaurant" %>
<% end  %>
