<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <%= render "photo_carousel", photos: @restaurant.photos %>
      </div>
      <ul>

        <li><%= @restaurant.name %></li>
        <li><%= @restaurant.address %></li>
        <li><%= @restaurant.phone_number %></li>
        <li><%= @restaurant.latitude %></li>
        <li><%= @restaurant.longitude %></li>
        <li><%= @restaurant.price_level %></li>
        <li><%= @restaurant.website %></li>
        <% if @restaurant.open_now? %>
          <p>OPEN</p>
        <% else %>
          <p>CLOSE</p>
        <% end  %>
        <li>Opening Hours</li>
          <ul>
            <% @restaurant.opening_hours.each do |daytime| %>
              <li><%= daytime %></li>
            <% end %>
          </ul>
      </ul>
    </div>
  </div>
  <div id="restaurant-form-container">
    <% if @restaurant.id.nil? %>
      <%= render "form", restaurant: @restaurant %>
    <% elsif @restaurant.user_list(current_user) %>
      <%= render "lists/destroy", list: @list %>
    <% else %>
      <%= render "lists/create", list: List.new %>
    <% end %>
  </div>

  <a class="btn btn-danger" onclick="history.back()"><i class="fas fa-caret-left"></i>Go Back</a>

</div>
